<head>
    <title>{{ include.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="{{ include.description }}">
    <meta name="author" content="Oscar Nylander">
    <meta property="og:title" content="{{ include.title }}">
    <meta property="og:description" content="{{ include.description }}">
    <meta property="og:type" content="{{ include.type }}">
    <meta property="og:image" content="/favicon.png">
    <style>
        {% capture inline_css %}
            {% include {{ include.style }} %}
        {% endcapture %}
        {{ inline_css | scssify }}
    </style>
    <link rel="icon" href="/favicon.png" type="image/png">
</head>