@import 'base.scss';

.first-section {
    margin-top: 5rem;
    margin-left: 16px;
    margin-right: 16px;
}

.second-section {
    margin-top: 2rem;
    margin-left: 16px;
    margin-right: 16px;
}

.animation {
    opacity: 0;
    transform: translateY(-100px);
}

.animation-group-1.loaded {
    opacity: 1;
    transform: translateY(0px);
    transition: 
        opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190),
        transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.animation-group-2.loaded {
    opacity: 1;
    transform: translateY(0px);
    transition: 
        opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.3s,
        transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.3s;
}

.animation-group-3.loaded {
    opacity: 1;
    transform: translateY(0px);
    transition: 
        opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.6s,
        transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.6s;
}

.animation-group-4.loaded {
    opacity: 1;
    transform: translateY(0px);
    transition: 
        opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.9s,
        transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.9s;
}

.animation-group-5.loaded {
    opacity: 1;
    transform: translateY(0px);
    transition: 
        opacity 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) 1.2s,
        transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) 1.2s;
}

.centered {
    text-align: center;
}

.code-icon {
    font-size: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (min-width: 780px) {
    .first-section {
        margin-left: 15vw;
        margin-top: 20vh;
        padding-right: 48px;
    }

    .second-section {
        margin-top: 20vh;
        margin-right: 15vw;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    @media only screen and (min-width: 780px) {
        .grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .first-section {
            padding-right: 0px;
        }
    }
}
