@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');

html {
    background-color: #1B1B1B;
    color: #F5F5F5;
    font-family: 'IBM Plex Sans', sans-serif;
}

p, a, li {
    line-height: 1.5rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

a {
    color: #F5F5F5;
}

i {
    color: #F5F5F5;
    font-size: 2rem;
    margin-left: 4px;
    margin-right: 4px;
}